@model Practical9.Models.Student
@{
    Layout = "_Layout";
}
<h2>Student Details</h2>
<ul>
    <li>Id: @Model.Id</li>
    <li>Name: @Model.Name</li>
    <li>Age: @Model.Age</li>
</ul>
<a href="/Students">Back to list</a>