<!DOCTYPE html>
<html>
<head>
    <title>Practical9 MVC</title>
</head>
<body>
    <div>
        <a href="/">Home</a> |
        <a href="/Students">Students</a>
    </div>
    <hr />
    @RenderBody()
    <hr />
    <footer>Practical9 Footer</footer>
</body>
</html>